:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }

.hero-packages{
  position: relative;
  top: 11%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  z-index: 4;
  gap: 20px;
  font-size: 3rem;
  align-items: flex-start;
  padding: 0px;
  gap: 35px;
  width: 663px;
  height: 214px;
  left: 136px;
  top: calc(36% - 227px / 2 - 24.5px);

}

.hero-cloud-packages{
    position: relative;
    z-index: 4;
    top: -203px;
    background-image: url(./asset/cloud.png);
    height: 95%;
    width: 110%;
    overflow: hidden;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -35px;
}

/* slider carousel starts here  */
#category {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  #wrapper {
    width: 100%;
    max-width: 964px;
    position: relative;
  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }

  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
  }
  
  #next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }
  
  #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  
  .item {
    width: 120px;
    text-align: center;
    /* width: 100px;
    height: 100px;
    border-radius: 50%; */
  }

  .item i{
    height: 24px;
    margin-left: auto
    /* display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100px;
    align-items: center; */
  }

  .item p{
    color: black;
  }

 
  
  .package-card-container {
    overflow: hidden;
  }
  
  .package-card-container,
  .package-card-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .package-card-container {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    width: 1934px;
    height: 1518.671px;
    margin: 0;
  }
  .product {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 11.606px;
    position: relative;
    width: 266.947px;
    height: 452.649px;
    padding: 11.606px 11.606px 11.606px 11.606px;
    background: #ffffff;
    border-radius: 11.606px;
    box-shadow: 0 16.316px 32.632px 0 rgba(0, 0, 0, 0.6);
  }
  .box {
    flex-shrink: 0;
    position: relative;
    width: 243.734px;
    height: 441.043px;
    z-index: 1;
    overflow: hidden;
  }
  .package-card-container{
    display: flex;
    width: 1797px;
    overflow: hidden;
    height: 100%;
  }
  
  .package-card-container .card{
  display: flex;
  flex-direction: column;
  margin: 1% 1%;
  transition: 0.5s ease;
  justify-content: center;
  transform: translateX(80px);
}



  
  .card .img{
    width: 350px;
    min-height: 465px;
    border-radius: 25px;
  background-image: url(https://images.pexels.com/photos/1699025/pexels-photo-1699025.jpeg?auto=compress&cs=tinysrgb&w=600);
  margin-bottom: 10px;
  }
  
  .card .img a i{
    width: 338px;
    font-size: 25px;
    margin-top: 5px;
    color: rgba(0, 0, 0.5, 0.7);
    text-align: right;
    margin-right: 20px;
  }
  
  .card--hover{
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    color: white;
    background-color: rgba(0, 0, 0.5, 0.7);
    margin-top: -32px;
    margin-left: 29px;
    padding: 15px;
    opacity: 0;
    gap: 20px;
    height: 100%;
  }
  
  .card--hover hr{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card--hover .hover-header{
    display: flex;
    justify-content: space-between;
  }
  
  .card--hover .hover-header div i {
    color: orange;
    margin: 0 5px;
  }
  
  .card--hover .hover-header div a{
  color: white;
  margin: 0 5px;
  }
  
  .card--hover .date-time{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .card--hover .date-time .date{
    display: flex;
  }
  
  .card--hover .date-time .date button{
    width: 100px;
    margin: 5px 0;
    margin-right: 5px;
    background-color: black;
    color: white;
    border-radius: 50px;
  }
  
  .card--hover .btn-1{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    margin-bottom: 10px;
  }
  
  .card--hover .btn-2{
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: orange;
    color: white;
  }
  
  .card--hover .caution{
    color: lightgray;
  }
  
  .card--hover .card-icons div{
  display: flex;
  align-items: center;
  margin-top: 10px;
  }
  
  .card--hover .card-icons div i{
  margin-right: 5px;
  }
  
  .img:hover .card--hover{
  opacity: 1;
  }
  
  .package-card-container .get-quote{
  color: orange;
  }
  
  .package-card-container h4{
  color: orange;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  }


  @media (max-width: 1440px) {
    .hero-packages {
      width: 800px; /* Increase width for larger screens */
      font-size: 3.5rem; /* Increase font size */
    }
  
    .package-card-container {
      width: 1400px;
    }
  }


  @media (max-width: 1024px) {
    .hero-packages {
      width: 80%;
      font-size: 2.5rem;
      left: 10%;
      top: calc(30% - 227px / 2 - 24.5px);
    }

    
  
    .hero-cloud-packages {
      width: 100%;
      top: -150px;
      background-position-y: -25px;
    }
  
    .package-card-container {
      width: 100%;
      padding: 20px;
    }
  
    .product {
      width: 100%;
      height: auto;
      flex-direction: column;
    }
  
    .box {
      width: 100%;
      height: auto;
    }
  
    .booking-box {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .hero-packages {
      width: 90%;
      font-size: 2rem;
      left: 5%;
      top: calc(20% - 227px / 2 - 24.5px);
    }
  
    .hero-cloud-packages {
      width: 100%;
      top: -100px;
      background-position-y: -15px;
    }
  
    #category {
      margin: 20px;
    }
  
    #wrapper {
      max-width: 100%;
    }
  
    .package-card-container {
      width: 100%;
      padding: 10px;
      gap: 20px;
    }
  
    .product {
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;
    }
  
    .box {
      width: 100%;
      height: auto;
    }
  
    .booking-box {
      width: 90%;
      height: auto;
      padding: 10px;
    }
  
    .attribute, .date-3 {
      width: 100%;
    }
  
    .label, .date, .button-contact, .book-now, .button-base, .get-quote, .container, .duration {
      font-size: 0.8rem;
    }
  }

  @media (max-width: 450px) {
    .hero-packages{
      margin-top: 80px;
    }
    .hero-packages h2{
     font-size: 35px;
    }

    .hero-packages .hero-text{
      font-size: 18px;
    }

   
    .item{
      width: 88px;
    }

    #next{
      right: -25px;
    }

    #prev{
      left: -25px;
    }

    .package-card-container .card{
      transform: translateX(10px);
    }
  }